* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 70px;
    
}

.bottom {
    margin-top: 50px;
}

textarea {
    width: 100%;
    border-radius: 10px;
}
.progress {
    height: 30px;
    color: white;
    font-size: 1em;
    line-height: 30px;
}
.primary {
    background: #3d6dba;
}
.danger {
    background : #d63939;
}

.another-question {
    margin:50px;
    font-size: 1em;
}