<h1>Ask community a yes/no question</h1>

<form id="questionForm">

    <div class="form-group">
        <textarea id="question" class="form-control" name="question" cols="30" rows="10" maxlength="200"></textarea>
    </div>
    <p id ="text-muted">Còn <span id="remainCharacter">200</span>/200 ký tự</p>

    <button class="btn btn-dark">Submit</button>

</form>

<script>
    console.log($)
    $("#questionForm").submit(function(e) {
        e.preventDefault(); 
        $.ajax({
            url: '/api/question',
            type: POST,
            data: {
                question: $("#question").val()
            },
            success: function(response) {
                console.log("Success", response);
                if(response.success) window.location.href = `/question/${response.questionId}`;
            },
            error: function(response) {
                console.log("Error", response);
            }
        })
    });
</script>



{{!-- <script>
    let textArea = document.getElementById("question");
    textArea.addEventListener('input', function() {
        let remainCharacter = 200 - textArea.value.length;
        document.getElementById("remainCharacter").innerHTML = remainCharacter;
    });
</script> --}}

{{!-- <script>
    $("#question").on("input", function() {
        let remainCharacter =200 - $("#question").val().length;
        $("#remainCharacter").text(remainCharacter);
    });
</script> --}}


